<%- include('partials/head.ejs') %>
<%- include('partials/aside_adm.ejs') %>
<section id="main-content">
  <div class="main">
    <div class="article">
      <div class="article-header">
        <h3>Admin</h3>
      </div>
      <div class="article-body" id="card-container">
        <div class="ativosmeme" style="background-color: white;">
            
            <button onclick="filterRecords('A')">ATIVO</button>
            <button onclick="filterRecords('I')">INATIVO</button>
            <button onclick="filterRecords('M')">MODERACAO</button>
            <button onclick="filterRecords('ALL')">TODOS</button>
            <ul id="content">
                
                <% for (let i = 0; i < selectedItemA.length; i++) { %>
                    
                    <li class="form-li">
                        <span style="float:right;">
                            <button onclick="mostrar('<%= selectedItemA[i].id %>')">mostrar</button>
                            <button onclick="editar(`<%= selectedItemA[i].id %>`)">Editar</button>
                        </span>
                        <a href="/watch/<%= selectedItemA[i].id %>"><%= selectedItemA[i].id %> - <%= selectedItemA[i].title %></a>
                        <div style="clear:both;"></div>
                        <!-- Formulário de edição -->
                        <form id="form-<%= selectedItemA[i].id %>" class="modern-form" style="display:none;" action="/adm/editar" method="POST">
                            <!-- Campos do formulário -->
                            <div class="form-group">
                                <input type="hidden" name="id" value="<%= selectedItemA[i].id %>">
                                <label for="title">Title</label>
                                <input type="text" name="title" value="<%= selectedItemA[i].title %>" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="atriz">Atriz</label>
                                <input type="text" id="atriz" name="atriz" value="<%= selectedItemA[i].atriz %>" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="studio">Studio</label>
                                <input type="text" id="studio" name="studio" value="<%= selectedItemA[i].studio %>" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="tags">Tags:</label>
                                <input type="text" id="tags" name="tags" value="<%= selectedItemA[i].tags %>" required><br><br>
                            </div>
                            <div class="form-group">
                                <label for="cover">Capa</label>
                                <input type="text" name="cover" value="<%= selectedItemA[i].cover %>" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="midia">Midia</label>
                                <input type="text" name="midia" value="<%= selectedItemA[i].midia %>" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="tmidia">Tipo Midia:</label>
                                <select name="tmidia" id="tmidia" class="form-control">
                                        <option value=".mp4" <%= selectedItemA[i].ativo.toLowerCase() === '.mp4' ? 'selected' : '' %>>MP4</option>
                                        <option value=".avi" <%= selectedItemA[i].ativo.toLowerCase() === '.avi' ? 'selected' : '' %>>AVI</option>
                                        <option value=".mkv" <%= selectedItemA[i].ativo.toLowerCase() === '.mkv' ? 'selected' : '' %>>MKV</option>
                                    </select>
                            </div>

                            <div class="form-group">
                                <label for="ativo">Ativo:</label>
                                <select name="ativo" id="ativo" class="form-control">
                                        <option value="a" <%= selectedItemA[i].ativo.toLowerCase() === 'a' ? 'selected' : '' %>>ATIVO</option>
                                        <option value="i" <%= selectedItemA[i].ativo.toLowerCase() === 'i' ? 'selected' : '' %>>INATIVO</option>
                                        <option value="m" <%= selectedItemA[i].ativo.toLowerCase() === 'm' ? 'selected' : '' %>>MODERACAO</option>
                                    </select>
                            </div>
                            
                            <!-- Um campo de botão para enviar o formulário -->
                            <button type="submit" class="btn btn-orange">Salvar</button>
                            <br>
                        </form>
                        
                    </li>
                <% } %>              
            </ul>
            <footer class="pag">
                <div class="pagination">
                    <% if (page > 3) { %>
                        <a href="/adm?page=1">Primeira</a>
                        <a href="/adm?page=<%= page - 1 %>">Anterior</a>
                    <% } %>
                
                    <% if (page > 3) { %>
                        <span>...</span>
                    <% } %>
                
                    <% for (let i = Math.max(1, page - 2); i <= Math.min(page + 2, totalPages); i++) { %>
                        <a href="/adm?page=<%= i %>" class="<%= i === page ? 'active' : '' %>"><%= i %></a>
                    <% } %>
                
                    <% if (page < totalPages - 2) { %>
                        <span>...</span>
                    <% } %>
                
                    <% if (page < totalPages) { %>
                        <a href="/adm?page=<%= parseInt(page) + 1 %>">Próxima</a>
                        <a href="/adm?page=<%= totalPages %>">Última</a>
                    <% } %>
                </div>
                
            </footer>
        </div>
      </div>
    </div>
  </div>
</section>
</main>
<footer class="pag">
</footer>
</div>
<div id="show-aside-square" onclick="toggleAside()">☰</div>

<script>
function editar(id) {
    // Obtém o elemento do formulário específico
    var form = document.getElementById('form-' + id);
    
    // Verifica se o formulário está visível ou não
    if (form.style.display === 'none') {
        // Oculta todos os formulários de edição
        document.querySelectorAll('[id^="form-"]').forEach(form => {
            form.style.display = 'none';
        });
        // Mostra o formulário específico
        form.style.display = 'block';
    } else {
        // Se o formulário está visível, oculta-o
        form.style.display = 'none';
    }
}

function mostrar(id) {
    window.location.href = 'http://127.0.0.1:8084/watch/' + id;
}

function filterRecords(ativo) {
    var items = document.querySelectorAll('[id^="item-"]');
    items.forEach(item => {
        if (ativo === 'ALL' || item.querySelector('select[name="ativo"]').value === ativo.toLowerCase()) {
            item.style.display = 'block';
        } else {
            item.style.display = 'none';
        }
    });
}


// Function to split input value
function split(val) {
    return val.split(/,\s*/);
}

// Function to extract last term
function extractLast(term) {
    return split(term).pop();
}

// Autocomplete function
function setupAutocomplete(inputId, uniqueData) {
    $(inputId)
        .on("keydown", function(event) {
            if (event.keyCode === $.ui.keyCode.TAB &&
                $(this).autocomplete("instance").menu.active) {
                event.preventDefault();
            }
        })
        .autocomplete({
            minLength: 0,
            source: function(request, response) {
                var results = $.ui.autocomplete.filter(
                    uniqueData, extractLast(request.term));
                response(results.slice(0, 5)); // Limit to 5 suggestions
            },
            focus: function() {
                return false;
            },
            select: function(event, ui) {
                var terms = split(this.value);
                terms.pop();
                terms.push(ui.item.value);
                terms.push("");
                this.value = terms.join(", ");
                return false;
            }
        }).autocomplete("instance")._renderItem = function(ul, item) {
            return $("<li>")
                .append("<div>" + item.label + "</div>")
                .appendTo(ul);
        };
}

$(function() {
    // Setup autocomplete for #tags input
    setupAutocomplete("#tags", JSON.parse('<%- JSON.stringify(uniqueTags) %>'));

    // Setup autocomplete for #studio input
    setupAutocomplete("#studio", JSON.parse('<%- JSON.stringify(uniqueStudios) %>'));

    // Setup autocomplete for #atriz input
    setupAutocomplete("#atriz", JSON.parse('<%- JSON.stringify(uniqueAtriz) %>'));
});

</script>
</body>
</html>
