<%- include('partials/head.ejs') %>
<%- include('partials/aside_adm.ejs') %>
<section id="main-content">
  <div class="main">
    <div class="article">
      <div class="article-header">
        <h3>Admin</h3>
      </div>
      <div class="article-body" id="card-container">
        <div class="ativosmeme" style="background-color: white;">
            <ul id="content">
                <% for (let i = 0; i < selectedItemA.length; i++) { %>
                    <li>
                        <a href="/watch/<%= selectedItemA[i].id %>"><%= selectedItemA[i].title %></a>
                        <span style="float:right;">
                            <button onclick="mostrar(`<%= selectedItemA[i].id %>`)">mostrar</button>
                            <button onclick="editar(`<%= selectedItemA[i].id %>`)">Editar</button>
                            <button onclick="inativar(`<%= selectedItemA[i].id %>`)">Inativar</button>
                        </span>
                        <div style="clear:both;"></div>
                        <!-- Formulário de edição -->
                        <form id="form-<%= selectedItemA[i].id %>" style="display:none;">
                            <!-- Campos do formulário -->
                            <!-- Por exemplo, um campo de texto para o título -->
                            <input type="text" name="title" value="<%= selectedItemA[i].title %>">
                            <!-- Um campo de botão para enviar o formulário -->
                            <button type="submit">Salvar</button>
                        </form>
                    </li>
                <% } %>              
            </ul>
        </div>
      </div>
    </div>
  </div>
</section>
</main>
<footer class="pag">
</footer>
</div>
<div id="show-aside-square" onclick="toggleAside()">☰</div>

<script>
    // Função para mostrar o formulário de edição
    function editar(id) {
        // Oculta todos os formulários de edição
        document.querySelectorAll('[id^="form-"]').forEach(form => {
            form.style.display = 'none';
        });
        // Mostra o formulário específico
        document.getElementById('form-' + id).style.display = 'block';
    }
</script>
</body>
</html>
