<%- include('partials/head.ejs') %>
<%- include('partials/aside_adm.ejs') %>
        <section id="main-content">
            <div class="main">
                <div class="article">
                    <div class="article-header">
                        <h3>Cadastrar</h3>
                    </div>
                    <div class="article-body" id="card-container">
                        <form class="form-enviar" action="/add" method="POST">

                            <label for="title">Título:</label>
                            <input type="text" id="title" name="title" required><br><br>

                            <label for="studio">Studio:</label>
                            <input type="text" id="studio" name="studio" list="studiosList"><br><br>

                            <label for="atriz">Atriz:</label>
                            <input type="text" id="atriz" name="atriz" required><br><br>
        
                            <label for="capa">Capa:</label>
                            <input type="text" id="capa" name="capa" required><br><br>
        
                            <label for="midia">Mídia:</label>
                            <input type="text" id="midia" name="midia" required><br><br>
                            <select name="tipoMidia" id="tipoMidia">
                                <option value="mp4">MP4</option>
                                <option value="mkv">MKV</option>
                                <option value="avi">AVI</option>
                                <option value="wmv">WMV</option>
                            </select><br><br>
        
                            <label for="tags">Tags:</label>
                            <input type="text" id="tags" name="tags" required><br><br>

                            <label for="ativo">Ativo:</label>
                            <select name="ativo" id="ativo">
                                <option value="a">A</option>
                                <option value="i">I</option>
                            </select><br><br>
                            <input type="submit" value="Adicionar">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="pag">
    </footer>
</div>

<script>

   var uniqueTags = JSON.parse('<%- JSON.stringify(uniqueTags) %>');
   console.log(uniqueTags)

    function split(val) {
        return val.split(/,\s*/);
    }
    function extractLast(term) {
        return split(term).pop();
    }
    $(function() {
        $("#tags")
            .on("keydown", function(event) {
                if (event.keyCode === $.ui.keyCode.TAB &&
                    $(this).autocomplete("instance").menu.active) {
                    event.preventDefault();
                }
            })
            .autocomplete({
                minLength: 0,
                source: function(request, response) {
                    var filteredTags = $.ui.autocomplete.filter(uniqueTags, extractLast(request.term));
                    response(filteredTags.slice(0, 5));
                },
                focus: function() {
                    return false;
                },
                select: function(event, ui) {
                    var terms = split(this.value);
                    terms.pop();
                    terms.push(ui.item.value);
                    terms.push("");
                    this.value = terms.join(", ");
                    return false;
                }
            });
    });

    var uniqueStudios = JSON.parse('<%- JSON.stringify(uniqueStudios) %>');

    $(function() {
        $("#studio")
            .on("keydown", function(event) {
                if (event.keyCode === $.ui.keyCode.TAB &&
                    $(this).autocomplete("instance").menu.active) {
                    event.preventDefault();
                }
            })
            .autocomplete({
                minLength: 0,
                source: function(request, response) {
                    var filteredStudios = $.ui.autocomplete.filter(uniqueStudios, extractLast(request.term));
                    response(filteredStudios.slice(0, 5));
                },
                focus: function() {
                    return false;
                },
                select: function(event, ui) {
                    var terms = split(this.value);
                    terms.pop();
                    terms.push(ui.item.value);
                    terms.push("");
                    this.value = terms.join(", ");
                    return false;
                }
            });
    });

    var uniqueAtriz = JSON.parse('<%- JSON.stringify(uniqueAtriz) %>');

    $(function() {
		$("#atriz")
			.on("keydown", function(event) {
				if (event.keyCode === $.ui.keyCode.TAB &&
					$(this).autocomplete("instance").menu.active) {
					event.preventDefault();
				}
			})
			.autocomplete({
				minLength: 0,
				source: function(request, response) {
					var filteredAtriz = $.ui.autocomplete.filter(uniqueAtriz, extractLast(request.term));
					response(filteredAtriz.slice(0, 5));
				},
				focus: function() {
					return false;
				},
				select: function(event, ui) {
					var terms = split(this.value);
					terms.pop();
					terms.push(ui.item.value);
					terms.push("");
					this.value = terms.join(", ");
					return false;
				}
			});
    });

    function stopPropagation(event) {
        event.stopPropagation();
    }
</script>

</body>
</html>
