<%- include('partials/head.ejs') %>
<%- include('partials/aside_adm.ejs') %>
        <section id="main-content">
            <div class="main">
                <div class="article">
                    <div class="article-header">
                        <h3>Cadastrar</h3>
                    </div>
                    <div class="article-body" id="card-container">
                        <form class="form-enviar" action="/add" method="POST">

                            <label for="title">Título:</label>
                            <input type="text" id="title" name="title" required><br><br>

                            <label for="studio">Studio:</label>
                            <input type="text" id="studio" name="studio" required><br><br>

                            <label for="atriz">Atrizes:</label>
                            <input type="text" id="atriz" name="atriz" required><br><br>
        
                            <label for="capa">Capa:</label>
                            <input type="text" id="capa" name="capa" required><br><br>
        
                            <label for="midia">Mídia:</label>
                            <input type="text" id="midia" name="midia" required><br><br>
                            <select name="tipoMidia" id="tipoMidia">
                                <option value="mp4">MP4</option>
                                <option value="avi">AVI</option>
                                <option value="wmv">WMV</option>
                            </select><br><br>
        
                            <label for="tags">Tags:</label>
                            <input type="text" id="tags" name="tags" required><br><br>

                            <label for="ativo">Ativo:</label>
                            <select name="ativo" id="ativo">
                                <option value="a">A</option>
                                <option value="i">I</option>
                            </select><br><br>
                            <input type="submit" value="Adicionar">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="pag">
    </footer>
</div>

<script>

// Function to split input value
function split(val) {
    return val.split(/,\s*/);
}

// Function to extract last term
function extractLast(term) {
    var terms = split(term);
    return terms[terms.length - 1];
}
// Autocomplete function
function setupAutocomplete(inputId, uniqueData) {
    $(inputId)
        .on("keydown", function(event) {
            if (event.keyCode === $.ui.keyCode.TAB &&
                $(this).autocomplete("instance").menu.active) {
                event.preventDefault();
            }
        })
        .autocomplete({
            minLength: 0,
            source: function(request, response) {
                var results = $.ui.autocomplete.filter(
                    uniqueData, extractLast(request.term));
                response(results.slice(0, 5)); // Limit to 5 suggestions
            },
            focus: function() {
                return false;
            },
            select: function(event, ui) {
                var terms = split(this.value);
                terms.pop();
                terms.push(ui.item.value);
                terms.push("");
                this.value = terms.join(", ");
                return false;
            }
        }).autocomplete("instance")._renderItem = function(ul, item) {
            return $("<li>")
                .append("<div>" + item.label + "</div>")
                .appendTo(ul);
        };
}

$(function() {
    // Setup autocomplete for #tags input
    setupAutocomplete("#tags", JSON.parse('<%- JSON.stringify(uniqueTags) %>'));

    // Setup autocomplete for #studio input
    setupAutocomplete("#studio", JSON.parse('<%- JSON.stringify(uniqueStudios) %>'));

    // Setup autocomplete for #atriz input
    setupAutocomplete("#atriz", JSON.parse('<%- JSON.stringify(uniqueAtriz) %>'));
});

</script>
</body>
</html>
