<%- include('partials/head.ejs') %>
<%- include('partials/aside.ejs') %>
        <section id="main-content">
            <div class="main">
                <div class="article">
                    <div class="article-header">
                        <h3>Cabeçalho artigo New HD videos</h3>
                    </div>
                    <div class="article-body" id="card-container">
                        <% for (let i = 0; i < selectedItem.length; i++) { %>
                        <div class="card">
                            <div class="card-img">
                                <a href="/watch/<%= selectedItem[i].id %>"><img class="img-thumb"src="<%= selectedItem[i].cover %>.jpg" alt="<%= selectedItem[i].title %>"></a>
                            </div>
                            <div class="card-text">
                                <a href="/watch/<%= selectedItem[i].id %>"><h4><%= selectedItem[i].title %></h4></a>
                                <li><i class="fas fa-star"></i> Atriz: <%= selectedItem[i].atriz %></li>
                            </div>
                            <div class="rectangle">
                                <h5><%= selectedItem[i].studio %></h5>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="pag">
        <% for (let i = 1; i <= totalPages; i++) { %>
            <a href="/?page=<%= i %>"><%= i %></a>
        <% } %>
    </footer>
</div>
<div id="show-aside-square" onclick="toggleAside()">☰</div>
<script src="/script/script.js">

</script>
</body>
</html>
