<%- include('partials/head.ejs') %>
<%- include('partials/aside.ejs') %>
        <section id="main-content">
            <div class="main">
                <div class="article">
                    <div class="article-header">
                        <h3>Cabeçalho artigo New HD videos</h3>
                    </div>
                    <div class="article-body, list-info" id="card-container" style="color:white;">
                        <% uniqueTags.sort().forEach(tag => { %>
                            <ul>
                                <a href="/main/<%= value[0] %>/<%= tag %>"><li><%= tag %></li></a>
                            </ul>
                        <% }); %>
                    
                    </div>
                    
                </div>
            </div>
        </section>
    </main>
    <footer class="pag">
    </footer>
</div>
<div id="show-aside-square" onclick="toggleAside()">☰</div>
<script src="/script/script.js">

</script>
</body>
</html>
