<%- include('partials/head.ejs') %>
<%- include('partials/aside.ejs') %>
<!-- Incio apos o  head/aside -->
        <section id="main-content">
            <div class="main">
                <div class="article">
                    <div class="article-header">
                        <h3><%= selectedItem.title %></h3>
                    </div>
                    <div class="article-body" id="card-container">
                        <div class="main-vide-content">
                            <div class="video-part">
                                <div class="vieo-header">
                                </div>
                                <div class="video-main">
                                    <video class="midia-vid" data-video-id="<%= selectedItem.id %>" controls poster="<%= selectedItem.cover %>.jpg" muted>
                                        <source src="/pn/<%= selectedItem.midia %>">
                                        Seu navegador não suporta o elemento de vídeo.
                                    </video> 
                                    <div class="video-overlay">
                                        <button id="btnContinue">Continuar</button>
                                        <button id="btnRestart">Voltar do Início</button>
                                    </div>
                                </div>
                            </div>
                            <div class="video-footer">
                                <div class="video-infos">
                                    <ul class="infos">                                
                                        <li><i class="ftags-capt fa fa-calendar"></i> Released: 28.02.2024</li>
                                        <li><i class="fas fa-tachometer-alt"></i> Duration: 00:27:47</li>

                                        <li>
                                            <i class="fa-solid fa-video"></i> Studio:
                                            <% studioArray.forEach((studio, index) => { %>
                                                <% if (index > 0) { %>,<% } %><a href="/main/studios/<%= studio %>"><%= studio %></a>
                                            <% }); %>
                                        </li>

                                        <li>
                                            <i class="ftags-capt fa fa-star"></i> Star:
                                            <% atrizArray.forEach((atriz, index) => { %>
                                                <% if (index > 0) { %>,<% } %><a href="/main/atriz/<%= atriz %>"><%= atriz %></a>
                                            <% }); %>
                                        </li>
        
                                        <ul class="tag-list">
                                            <li><i class="fa fa-archive" aria-hidden="true"></i> Tags:</li>
                                            <% 
                                            // Crie um array de tags formatadas e as ordene em ordem alfabética
                                            const formattedTags = tagsArray
                                                .map(tag => tag.trim()) // Remova espaços em branco
                                                .filter(tag => tag !== '') // Remova tags vazias
                                                .map(tag => tag.charAt(0).toUpperCase() + tag.slice(1)) // Capitalize a primeira letra de cada tag
                                                .sort(); // Ordena as tags em ordem alfabética
                                        
                                            formattedTags.forEach(tag => { %>
                                                <li> <a href="/main/tags/<%= tag %>" class="tag-button"><i class="fa fa-tag" aria-hidden="true"></i> <%= tag %></a></li>
                                            <% }); %>
                                        </ul>
                                        
                                        <button id="showTagsButton" onclick="toggleTagsForm()">Editar Tags</button>
                                        <form id="editTagsForm" action="/adm/editartag" method="post" style="display: none;">
                                            <input type="hidden" id="itemId" name="id" value="<%= selectedItem.id %>">
                                            <div id="tagsContainer">
                                              <input type="text" id="tags" name="tags" value="<%= selectedItem.tags %>" required><br><br>
                                              <button type="submit">Enviar</button>
                                            </div>
                                        </form>

                                    </ul>
                                </div>
                                <div class="recomendacoes">
                                    <p> adicionar uma pequena carroseul com recomendações </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Footer</p>
    </footer>
</div>

<script>

var ativaVisivel = false; // Inicialmente oculto

function toggleContent() {
    var ativaDiv = document.getElementById("ativa");
    ativaVisivel = !ativaVisivel; // Inverte o estado atual

    if (ativaVisivel) {
        ativaDiv.classList.add("mostrar");
    } else {
        ativaDiv.classList.remove("mostrar");
    }
}

function toggleTagsForm() {
    var form = document.getElementById('editTagsForm');
    if (form.style.display === 'none') {
        form.style.display = 'block';
    } else {
        form.style.display = 'none';
    }
}

// Function to split input value
function split(val) {
    return val.split(/,\s*/);
}

// Function to extract last term
function extractLast(term) {
    var terms = split(term);
    return terms[terms.length - 1];
}
// Autocomplete function
function setupAutocomplete(inputId, uniqueData) {
    $(inputId)
        .on("keydown", function(event) {
            if (event.keyCode === $.ui.keyCode.TAB &&
                $(this).autocomplete("instance").menu.active) {
                event.preventDefault();
            }
        })
        .autocomplete({
            minLength: 0,
            source: function(request, response) {
                var results = $.ui.autocomplete.filter(
                    uniqueData, extractLast(request.term));
                response(results.slice(0, 5)); // Limit to 5 suggestions
            },
            focus: function() {
                return false;
            },
            select: function(event, ui) {
                var terms = split(this.value);
                terms.pop();
                terms.push(ui.item.value);
                terms.push("");
                this.value = terms.join(", ");
                return false;
            }
        }).autocomplete("instance")._renderItem = function(ul, item) {
            return $("<li>")
                .append("<div>" + item.label + "</div>")
                .appendTo(ul);
        };
}

$(function() {
    // Setup autocomplete for #tags input
    setupAutocomplete("#tags", JSON.parse('<%- JSON.stringify(uniqueTags) %>'));

    // Setup autocomplete for #studio input
    //setupAutocomplete("#studio", JSON.parse('<%- JSON.stringify(uniqueStudios) %>'));

    // Setup autocomplete for #atriz input
    //setupAutocomplete("#atriz", JSON.parse('<%- JSON.stringify(uniqueAtriz) %>'));
});


</script>

 <%- include('partials/body_end.ejs') %>